language: node_js
sudo: false

node_js:
- "6"
- "8"
- "10"

git:
  depth: false

env:
  global:
  - NATS_VERSION=v1.2.0
#  - NODE_EXTRA_CA_CERTS=$TRAVIS_BUILD_DIR/test/helpers/certs/ca.pem

before_script:
  - wget "https://github.com/nats-io/gnatsd/releases/download/$NATS_VERSION/gnatsd-$NATS_VERSION-linux-amd64.zip" -O tmp.zip
  - unzip tmp.zip
  - mv gnatsd-$NATS_VERSION-linux-amd64 gnatsd

script:
- npm test

